@import "tailwindcss";
@plugin "@tailwindcss/typography";

@font-face {
  font-family: "Inter";
  src: url("/fonts/InterVariable.woff2") format("woff2"),
    url("/fonts/InterVariable.ttf") format("truetype");
}

@font-face {
  font-family: "Inter";
  src: url("/fonts/InterVariable-Italic.woff2") format("woff2"),
    url("/fonts/InterVariable-Italic.ttf") format("truetype");
  font-style: italic;
}

@theme {
  --font-display: "Inter", "SF Pro", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  --font-display--font-feature-settings: "ss01", "liga", "calt";
  --font-display--font-variation-settings: "opsz" 32;

  --font-display-length: 10;

  --font-sans: "Inter", "SF Pro", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-sans--font-feature-settings: "ss01", "liga", "calt";
  --font-sans--font-variation-settings: "opsz" 16;
  --font-sans-length: 10;
}

@layer base {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-display;
  }

  [role="textbox"] {
    @apply focus-within:ring-0 focus-within:border-0 focus-within:outline-0;
  }

  .tiptap p.is-editor-empty:first-child::before {
    @apply text-gray-400;
    content: attr(data-placeholder);
    float: left;
    height: 0;
    pointer-events: none;
  }
}
