@import "tailwindcss";
@plugin "@tailwindcss/typography";
@plugin "@tailwindcss/forms";

@import url("https://p.typekit.net/p.css?s=1&k=mnu5oll&ht=tk&f=51822&a=14787550&app=typekit&e=css");

@font-face {
  font-family: "gelica";
  src: url("https://use.typekit.net/af/942649/0000000000000000774ba06b/31/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n6&v=3")
      format("woff2"),
    url("https://use.typekit.net/af/942649/0000000000000000774ba06b/31/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n6&v=3")
      format("woff"),
    url("https://use.typekit.net/af/942649/0000000000000000774ba06b/31/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n6&v=3")
      format("opentype");
  font-display: auto;
  font-style: normal;
  font-weight: 600;
  font-stretch: normal;
}

/* .tk-gelica {
  font-family: "gelica", sans-serif;
} */

@theme {
  --font-sans: "Inter", "SF Pro", ui-sans-serif, system-ui, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  --font-heading: "gelica", "Inter", "SF Pro", ui-sans-serif, system-ui,
    sans-serif;
}

@layer base {
  [role="textbox"] {
    @apply focus-within:ring-0 focus-within:border-0 focus-within:outline-0;
  }

  .tiptap p.is-editor-empty:first-child::before {
    @apply text-zinc-400;
    content: attr(data-placeholder);
    float: left;
    height: 0;
    pointer-events: none;
  }
}

/* Give a remote user a caret */
.collaboration-cursor__caret {
  @apply relative break-normal pointer-events-none -mx-px border-x border-zinc-500;
}

/* Render the username above the caret */
.collaboration-cursor__label {
  @apply font-medium -top-5 text-shadow-lg py-0.5 px-1.5 pointer-events-none rounded-bl-none rounded-xl  -left-px absolute select-none whitespace-nowrap text-sm text-white;
}

.tiptap.ProseMirror p {
  position: relative;
}

.tiptap.ProseMirror p::before {
  @apply border-2 border-zinc-200 rounded-lg;
  content: "";
  position: absolute;
  height: 24px;
  width: 24px;
  top: 50%;
  left: -47px;
  transform: translateY(-50%);
}
